h1 {
    width: 400px;
    height: 400px;
    float:left;
    border-radius: 50%;
    text-align: center;
    line-height: 400px;
    background-color: #ff0066;
    color: #0093FF;
    shape-outside: circle(50%); 
}
p {
    float:left;
}